.project-container {
    max-width: 990px;
    @apply max-w-[18rem] md:max-w-[990px] pt-16;
}

.project-card {
    @apply font-PPMori;
    border-radius: 14px;
    padding: 4rem 2.5rem 3rem;
    transition: .2s all ease-in-out;
    .project-title {
        @apply text-[#3b3b3b];
        font-weight: 700;
    }
    a {
        @apply font-extrabold;
    }
    @apply bg-[#f5f5f5] hover:bg-[#33b1ff] hover:shadow-md hover:shadow-[#212121bc];
    &:hover {
        .project-title {
            transition: .1s all ease-in-out;
        }
        .project-image {
            border-color: #ffffff7c;
        }
        p {
            @apply text-gray-900 text-sm
        }
        a {
            @apply text-blue-950;
        }
        .projects {
            
            span {
                @apply text-slate-950;
            }
        }
    }
    
}
.project-image {
    border-radius: 50%;
    height: 8rem;
    width: 8rem;
    object-fit: cover;
    border: 4px solid #00000014;
    @apply mx-auto;
}
.projects {
    span {
        &::after {
            content: " | ";
        }
        &:last-child {
            &::after{
                content: "";
            }
        }
    }
}