@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');
/* src/app/globals.css */
@font-face {
  font-family: 'PPMori';
  src: url('/font/PPMori.otf') format('opentype'), 
       url('/font/PPMori-Regular.otf') format('opentype'),
       url('/font/PPMori-SemiBold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PPMori-Regular';
  src:     url('/font/PPMori-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PPMori-bold';
  src:     url('/font/PPMori-SemiBold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


/* Other global styles... */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #2A2356;
  --secondary: #1e1e20;
  --secondary2: #252529;
  --main: #dfdfd7;
  --main2: #dfdfd7;
  --button: #747bff;
  --accent: #E45858;
  --light: #FFFFFE;
  --dark: #0F0E17;
  --port-primary: #dee7ff;
  --port-secondary: #1d4ed8;
  --port-dark-primary: #1d4ed8;
  --port-black-primary: #FFFFFE;
  --heading: #ffff;
}

/* Explicit light theme */
[data-theme="light"] {
  --primary: #2A2356;
  --secondary: #111827;
  --secondary2: #374151;
  --main: #ffffff;
  --main2: #f7f7f8;
  --button: #4f46e5;
  --accent: #E45858;
  --light: #ffffff;
  --dark: #0F0E17;
  --port-primary: #1d4ed8;  
  --port-secondary: #dee7ff;
  --port-dark-primary: #0a2777;
  --port-black-primary: #000000;

}

/* Explicit dark theme */
[data-theme="dark"] {
  --main: #0f0f12;
  --main2: #1a1b1e;
  --secondary: #e7e7df;
  --secondary2: #d9d9d1;
  --button: #6366f1;
  --accent: #ef4444;
  --light: #ffffff;
  --dark: #0F0E17;
  --port-primary: #dee7ff;
  --port-secondary: #ffffff29;
  --port-dark-primary: #0a2777;
  --port-black-primary: #ffffff;
  --heading: #000;
  --tw-prose-headings: #e5e7eb;
  [data-contentful-field-id="content"] {
    p {
        color: rgb(213 225 251);
    }
  }
  .hero-section {
    h1 {
      color: black;
    }
  }
  
  /* [data-contentful-field-id="shortDescription"] {
    p {
      color: rgb(27 39 58 / var(--tw-text-opacity, 1));
    }
  } */
}

@media (prefers-color-scheme: dark) {
  :root {
    --main: #1e1e20;
    --main2: #252529;
    --secondary: #dfdfd7;
    --secondary2: #dfdfd7;
    --button: #747bff;
  }
}

body {
  color: var(--secondary2);
  /* background: #202123; */
  background: var(--main);
}

[data-theme="light"] body {
  color: var(--secondary);
  background: var(--main);
}
[data-theme="dark"] body {
  color: var(--secondary2);
  background: var(--main);
}
* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

*::-webkit-scrollbar {
  display: none;
}

html.has-scroll-smooth {
	backface-visibility: hidden;
	transform: translateZ(0);
}

.text-stroke{
  -webkit-text-stroke: 2px rgba(255, 255, 255, 0.2)
}
.text-stroke:hover{
  -webkit-text-stroke: 2px white
}

[data-load-container] {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100vw;
}





html.lenis {
  height: auto;
  overflow-x: hidden;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}





.banner-hero {
  background: url('/images/home-banner-mobile.png');
  background-position: left;
  background-size: cover;
  max-width: 100vw;
  @media (min-width: 640px){
    background-position: top;
    background: url('/images/home-banner.jpg');
    background-size: cover;
  }
  overflow-x: hidden;
}

.banner-text, .ankith-text {
  color: #ffffff;
  @apply mb-36 md:mb-0;
  text-shadow: 1px 1px 11px #0000005c;
  width: 100%;
}

/* Scroll Down */

.icon {
  margin: 0 auto;
  border: 2px solid white;
  height: 62px;
  width: 36px;
  border-radius: 18px;
  position: relative;
  background-color: rgba(255,255,255,.05);
  cursor: pointer;
}

.icon:before {
  content: '';
  background: white;
  height: 6px;
  width: 2px;
  position: absolute;
  top: 14px;
  border-radius: 1px;
  left: calc(50% - 1px);
  animation: scroll 1.15s infinite;
}

@keyframes scroll {
  15% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(24px);
  }
}
nav ul {
            list-style: none;
            display: flex;
            gap: 2rem;
        }
        
.c-cursor {
  &::before {
    width: calc(100% + 10px);
        content: "";
        border: 1px solid white;
        border-radius: 50%;
        display: flex;
        height: calc(100% + 10px);
        margin: auto;
        align-items: flex-start;
        justify-content: flex-start;
        align-content: space-around;
        margin-top: -5px;
        margin-left: -5px;
  }
  .c-cursor__inner {
    @apply font-PPMori;
  }
}